footer{
  position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	left: 0;
  height:60px;
  width:100%;
  background-color:#ffffff;
  border-top: 1px solid #cccccc;
}
