header{
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  display: flex;
	align-items: center;
	justify-items: left;
}

header #logo{
  min-width: 10%;
  min-height: 100%;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
